:root {
  --background-color: #441263;
  --light-purple: #66248f;
  --light-green: rgb(159, 222, 132);
  --mid-green: rgb(119, 178, 94);
  --light-gray: rgb(48, 48, 48);
  --mid-gray: rgb(28, 28, 28);
  --dark-gray: rgb(13, 13, 13);
  --outer-margin: clamp(10px, calc((100vw - 400px)) / 7.5, 50px);
  --inner-margin: clamp(10px, calc((100vw - 450px) / 7.5 + 10px), 70px);
  --radius: clamp(25px, calc((100vw - 600px) / 6 + 25px), 95px);
  --font-size-name: clamp(24px, calc((100vw - 90px) / 20), 44px);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: hsl(152, 17%, 85%);
  background: var(--background-color);
}

h1 {
  border-bottom: 3px solid var(--light-purple);
  font-size: 1.5em;
}

h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1.3em;
  color: var(--light-green);
}

h3 {
  margin: 0px;
  font-style: italic;
  font-weight: 400;
  font-size: 1.1em;
}

@media print {
  body {
    background-color: white !important;
  }
}
