.container {
  display: grid;
}

.container h1 {
  border-bottom: 3px solid var(--background-color);
}

.container p {
  margin-top: 8px;
}

.container b {
  font-weight: 500;
}

.footer {
  display: none;
}

.imageWrapper {
  position: relative;
  display: none;
}

.image {
  height: 130px;
  position: absolute;
  right: 5px;
  top: calc(-1 * (clamp(20px, calc((100vw - 600px) / 10 + 20px), 50px) + 135px));
}

@media print {
  .container h1 {
    margin-block-start: 0.5em;
    border-bottom: 3px solid var(--light-purple);
  }

  .footer {
    display: block !important;
    margin-bottom: 20px;
  }

  .imageWrapper {
    display: block !important;
  }
}
