.container {
  display: grid;
}

.container h1 {
  border-bottom: 3px solid var(--background-color);
}

.container p {
  margin-top: 8px;
}

.container b {
  font-weight: 500;
}

.footer {
  display: none;
}

.imageWrapper {
  position: relative;
  display: none;
}

.image {
  height: 130px;
  position: absolute;
  right: 5px;
  top: calc(-1 * (clamp(20px, calc((100vw - 600px) / 10 + 20px), 50px) + 135px));
}

@media print {
  .container h1 {
    margin-block-start: 0.5em;
  }

  .footer {
    display: block !important;
    margin-bottom: 20px;
  }

  .footer > div {
    padding-top: 10px !important;
  }

  .imageWrapper {
    display: block !important;
  }

<<<<<<< HEAD:src/pages/cv.module.css
  .container > section:nth-child(3) > article:nth-child(4)  {
    padding-top: 40px !important;
=======
  .container > section:nth-child(3) > article:nth-child(4) > div:first-child {
    padding-top: 20px;
>>>>>>> c2a4440a83152251bfd0213bf406ebe237228462:src/pages/styles/cv.module.css
  }
}
