.imageWrapper {
  width: 100%;
  position: relative;
}

.image {
  position: absolute;
  max-width: 30%;
  max-height: 300px;
  aspect-ratio: 300/367;
  top: 70px;
  left: 70px;
  border: 2px solid white;
  z-index: 1;
}
