.content {
  --img-width: clamp(100px, calc((100vw - 460px) / 2.8 + 100px), 250px);
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-inline: 10px;
}

.about {
  flex: 100;
}

.about > h1 {
  margin-right: calc(var(--img-width) + 20px);
}

.image, .image img {
  min-width: var(--img-width);
  max-width: var(--img-width);
  float: right;
}

.image {
  /* margin-top: 20px; */
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/*860*/