.buttonOuter {
  height: 55px;
  display: inherit;
  margin: clamp(10px, (100vw - 670px) / 20 + 10px, 15px);
}

.buttonOuter div {
  display: table;
  align-self: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.buttonOuter div a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transition: translate 250ms;
}

.buttonOuter div :hover {
  translate: 0px -2px;
}