.cvitem {
  margin-top: 15px;
  margin-bottom: 15px;
  /* background-color: aqua; */
  min-height: 200px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  display: flex;
  outline: 2px solid white;
}

.cvimage {
  width: 200px;
  height: 200px;
  outline: 2px solid white;
  border-radius: 100px;
  aspect-ratio: 1/1;
  background-color: black;
  /* background-image: url('/dymelogo.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  display: inherit;
}

.cvtext {
  font-size: 20px;
  text-align: left;
  float: right;
  max-width: 684px;
  display: inherit;
  padding: 10px;
  padding-left: 20px;
}