.content {
  display: flex;
}

.date {
  color: rgb(170, 233, 143);
  font-size: 14px;
  text-align: right;
  min-width: 120px;
}

.date p {
  margin: 0;
}

.description {
  flex-grow: 100;
}

.description ul {
  padding-left: 20px;
}

.description li {
  list-style: circle outside;
}