.item {
  display: grid;
}

.item div {
  display: flex;
}

.date {
  color: var(--mid-green);
  font-size: 14px;
  text-align: right;
  min-width: 120px;
}

.date p {
  margin: 0;
}

.description {
  flex-grow: 100;
}

.description ul {
  padding-left: 20px;
}

.description li {
  list-style: circle outside;
}

.skillname {
  box-sizing: border-box;
  min-width: 170px !important;
  max-width: 170px !important;
  color: var(--mid-green);
  padding-right: 10px;
  padding-bottom: 5px;
  border-right: 3px solid var(--background-color);
}

.skilldesc {
  padding-left: 10px;
}

.content {
  display: flex;
}

.spacing {
  min-width: 120px;
}

@media screen and (max-width: 640px) {
  .spacing {
    min-width: 0;
    width: 0;
  }
}

@media print {
  .date {
    color: var(--dark-gray) !important;
  }

  .description h2 h3 {
    color: var(--mid-green) !important;
  }

  .skillname {
    border-right: 3px solid var(--light-purple);
  }

  .spacing {
    min-width: 0;
  }
}
