.container {
  --outer-margin: clamp(10px, calc((100vw - 400px)) / 7.5, 50px);
  --inner-margin: clamp(10px, calc((100vw - 450px) / 7.5 + 10px), 70px);
  --radius: clamp(25px, calc((100vw - 600px) / 6 + 25px), 95px);
  --font-size-name: clamp(24px, calc((100vw - 90px) / 20), 44px);
  margin-inline: var(--outer-margin);
  max-width: 1024px;
  min-width: 300px;
  align-self: center;
}

.canvas {
  width: 100%;
  min-height: calc(100vh - 100px);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-image: url('/bg1_1.jpg');
  background-size: cover;
  height: fit-content;
  font-weight: 200;
  min-width: 260px;
}

.canvasContents {
  margin-inline: var(--inner-margin);
  padding-top: clamp(20px, calc((100vw - 600px) / 10 + 20px), 50px);
  font-size: 16px;
}

@media screen and (max-width: 400px) {
  .canvasContents {
    font-size: 12px !important;
  }
}

.navbar {
  margin-left: auto;
  position: sticky;
  top: 0px;
  min-width: fit-content;
}

.buttonContainer {
  display: inline-block;
  font-size: clamp(12px, calc((100vw - 770px) / 100 + 12px), 20px);
}

@media screen and (max-width: 620px) {
  .buttonContainer {
    display: grid;
  }

  .buttonContainer div {
    margin: 0;
    height: fit-content;
  }
  
  .buttonContainer div a {
    text-align: right;
  }
  
  .canvasContents {
    font-size: 14px;
  }
}

.floatybit {
  height: calc(var(--font-size-name) * 2.5 + 10px);
  margin-top: 0.4em;
  font-size: var(--font-size-name);
  font-weight: 400;
  display: flex;
  color: hsl(160, 86%, 97%);
  overflow: hidden;
}

.floatybit a {
  height: fit-content;
}

.nameContainer, .name, .whoami {
  width: calc(var(--font-size-name) * 7.73);
  padding-bottom: 10px;
}

.name :hover {
  text-decoration: underline !important;
}

.whoami {
  position: relative;
  float: left;
}

.whoami div {
  float: left;
  position: absolute;
  text-align: left;
  --anim-func: linear;
  --anim-length: 30s;
}

.datascience {
  animation: ds__anim var(--anim-length) var(--anim-func) 0s infinite;
  z-index: 10;
}

.coverup {
  z-index: 5;
  opacity: 1;
  background-color: white;
}

.physics {
  animation: ps__anim var(--anim-length) var(--anim-func) 0s infinite;
}

.guitar {
  animation: gt__anim var(--anim-length) var(--anim-func) 0s infinite;
}

.programmer {
  animation: pr__anim var(--anim-length) var(--anim-func) 0s infinite;
}

@keyframes ds__anim {
  0% {
    opacity: 1;
  }
  9.4% {
    opacity: 1;
  }
  13.9% {
    opacity: 0;
  }
  86.1% {
    opacity: 0;
  }
  90.6% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ps__anim {
  0% {
    opacity: 0;
  }
  11.1% {
    opacity: 0;
  }
  15.6% {
    opacity: 1;
  }
  34.4% {
    opacity: 1;
  }
  38.9% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes gt__anim {
  0% {
    opacity: 0;
  }
  36.1% {
    opacity: 0;
  }
  40.6% {
    opacity: 1;
  }
  59.4% {
    opacity: 1;
  }
  63.9% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pr__anim {
  0% {
    opacity: 0;
  }
  61.1% {
    opacity: 0;
  }
  65.6% {
    opacity: 1;
  }
  84.4% {
    opacity: 1;
  }
  88.9% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.footer {
  vertical-align: baseline;
  padding-top: 50px;
  padding-bottom: 30px;
}

.links {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.links span {
  padding: 0 20px;
}

@media print {
  .floatybit {
    height: 140px;
    margin-inline: var(--inner-margin);
    margin-top: 30px;
    padding-left: 10px;
    outline: black 2px solid;
    width: calc(100vw - 2 * var(--outer-margin) - 2 * var(--inner-margin));
  }

  .datascience {
    color: var(--mid-gray) !important;
    opacity: 1 !important;
    text-decoration: underline;
    font-style: italic;
    font-size: 24px !important;
    top: 10px
  }

  .physics {
    display: none;
  }

  .guitar {
    display: none;
  }

  .programmer {
    display: none;
  }

  .canvas {
    background-image: none;
    background-color: white;
  }

  .navbar {
    display: none;
  }

  .name {
    color: var(--mid-gray) !important;
  }

  .canvasContents {
    font-size: 14px;
    color: var(--dark-gray);
  }

  .canvasContents h1 {
    color: var(--mid-green) !important;
  }

  .canvasContents h2 h3 {
    color: var(--light-gray) !important;
  }

  .footer {
    padding-top: 35px;
    padding-bottom: 10px;
  }

  .links {
    font-size: 12px;
  }

  .links span {
    padding: 0 10px;
  }
}
