.wrapper {
  padding-bottom: 40px;
}

.content {
  margin: 20px;
}

.image {
  margin: 10px;
  float: right;
  width: clamp(100px, calc((100vw - 350px) / 5 + 100px), 200px);
}

.image > img {
  height: auto;
  width: inherit;
}
