.content {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-bottom: 3px solid var(--light-purple);
}

.text {
  flex: 100;
}

.image {
  max-width: 240px;
  border: 2px solid white;
  margin-left: 20px;
}